body {
    background-image: url("../images/scenery.jpg");
    margin: 10%;
    color: #f9f3ea;
}

ul {
    background-color:#abd2e0;
    width: 500px;
    color: #78614e;
}

h2 {
    width: 50%;
}

h4 {
    background-color: #d9ead3;
    width: 300px;
    color: #78614e;
}

#banner {
    height: 200px;
    width: 1000px;
}

#slideshow {
    background-color: #78614e;
    width: 500px;
    height: 400px;
}

#slide {
    width: 500px;
}

#shreddin {
    visibility: hidden;
}

#quote, #author {
    font-family: 'Times New Roman', Times, serif;
}

.here {
    color: #aa9786;
}